@using MvcStock.Models.Entity
@model List<TBLPRODUCTS>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<table class="table table-bordered">
    <tr>
        <th>Product ID</th>
        <th>Product Name</th>
        <th>Category</th>
        <th>Price</th>
        <th>Brand</th>
        <th>Stock</th>
        <th>Delete</th>
        <th>Update</th>
    </tr>
    <tbody>
        @foreach (var prdct in Model)
        {
        <tr>
            <th>@prdct.ProductId</th>
            <td>@prdct.ProductName</td>
            <td>@prdct.TBLCATEGORIES.CategoryName</td>
            <td>@prdct.Price</td>
            <td>@prdct.Brand</td>
            <td>@prdct.Stock</td>
            <td><a href="/Product/Delete/@prdct.ProductId" class="btn btn-danger">Delete</a></td>
            <td><a href="/Product/Update/@prdct.ProductId" class="btn btn-success">Update</a></td>
        </tr>
        }
    </tbody>
</table>
<a href="/Product/AddProduct/" class="btn btn-primary"> Add New Product</a>


