@using MvcStock.Models.Entity
@model List<TBLCUSTOMERS>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

@using (Html.BeginForm("Index", "Customer", FormMethod.Get))
 {
<p>
    <b> Customer Name To Search:</b> @Html.TextBox("p")
    <input type="submit"  value="Search" />
</p>
 }


<table class="table table-bordered">
    <tr>
        <th>Customer ID</th>
        <th>Customer Name</th>
        <th>Customer Surname</th>
        <th>Delete</th>
        <th>Update</th>
        <th>Alert</th>
    </tr>
    <tbody>
        @foreach (var cstmr in Model)
        {
        <tr>
            <th>@cstmr.CustomerId</th>
            <td>@cstmr.CustomerName</td>
            <td>@cstmr.CustomerSurname</td>
            <td><a href="/Customer/Delete/@cstmr.CustomerId" class="btn btn-danger">Delete</a></td>
            <td><a href="/Customer/BringCustomer/@cstmr.CustomerId" class="btn btn-success">Update</a></td>
            <td>@Html.ActionLink("Delete Button","Delete",new { id=cstmr.CustomerId},new { @class="btn btn-warning",onclick= "return confirm('Do you want to delete?')" })</td>
        </tr>
        }
    </tbody>
</table>
<a href="/Customer/NewCustomer/" class="btn btn-primary"> Add New Customer</a>


